.showcaseOutline {
    margin: 1em 5em 0em 5em;
    padding-left: 5em;
    /* outline: 1px solid black; */
}

span {
    font-weight: bold;
}


.nodeShowcase {
    display: inline-block;
    outline: 1px solid black;
    width: 2em;
    height: 2em;
    margin: 1em 4em 0em 0.5em;
}


.visitedShowcase {
    background-color: rgba(34, 167, 240, 1);
}

.shortestPathShowcase {
    background-color: rgba(247, 202, 24, 1)
}

.wallShowcase {
  background-color: gray;
}


.startNodeShowcase {
    background-image: url("/src/Icons/startNode.png");
    background-size: contain; 
    outline: none
}


.endNodeShowcase {
    background-image: url("/src/Icons/endNode.png");
    background-size: contain; 
    outline: none
}



@media (max-width: 1400px) {
    .nodeShowcase {
      width: 1.9em;
      height: 1.9em;
    }
  }
  
  @media (max-width: 1300px) {
    .nodeShowcase {
      width: 1.8em;
      height: 1.8em;
    }
  }
  
  @media (max-width: 1250px) {
    .nodeShowcase {
      width: 1.7em;
      height: 1.7em;
    }
  }
  
  @media (max-width: 1200px) {
    .nodeShowcase {
      width: 1.6em;
      height: 1.6em;
    }
  }
  
  
  @media (max-width: 1150px) {
    .nodeShowcase {
      width: 1.5em;
      height: 1.5em;
    }
  }
  
  
  @media (max-width: 1050px) {
    .nodeShowcase {
      width: 1.4em;
      height: 1.4em;
    }
  }
  
  
  
  
  @media (max-width: 1000px) {
    .nodeShowcase {
      width: 1.3em;
      height: 1.3em;
    }
  }
  
  
  
  @media (max-width: 930px) {
    .nodeShowcase {
      width: 1.2em;
      height: 1.2em;
    }
  }
  
  
  @media (max-width: 875px) {
    .nodeShowcase {
      width: 1.1em;
      height: 1.1em;
    }
  }
  
  @media (max-width: 800px) {
    .nodeShowcase {
      width: 1.0em;
      height: 1.0em;
    }
  }
  
  @media (max-width: 750px) {
    .nodeShowcase {
      width: 0.9em;
      height: 0.9em;
    }
  }