.node {
    display: inline-block;
    outline: 1px solid black;
    width: 2em;
    height: 2em;
    margin: 0px;
}

.startNode {
  background-color: green;
}
  
.endNode {
  background-color: red;
}

.visited {
  background-color: rgba(34, 167, 240, 1);

  animation-name: visitedAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.5);
    background-color: rgba(41, 241, 195, 1);
  }

  50% {
    background-color: rgba(245, 171, 53, 1);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(34, 167, 240, 1);
  }
}


.wall {
  background-color: gray;

  /* animation-name: wallPlacementAnimation;
  animation-duration: 0.3s; */
}
/* 
@keyframes wallPlacementAnimation {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
} */


.shortestPathNode {
  background-color: rgba(247, 202, 24, 1);
}




@media (max-width: 1400px) {
  .node {
    width: 1.9em;
    height: 1.9em;
  }
}

@media (max-width: 1300px) {
  .node {
    width: 1.8em;
    height: 1.8em;
  }
}

@media (max-width: 1250px) {
  .node {
    width: 1.7em;
    height: 1.7em;
  }
}

@media (max-width: 1200px) {
  .node {
    width: 1.6em;
    height: 1.6em;
  }
}


@media (max-width: 1150px) {
  .node {
    width: 1.5em;
    height: 1.5em;
  }
}


@media (max-width: 1050px) {
  .node {
    width: 1.4em;
    height: 1.4em;
  }
}




@media (max-width: 1000px) {
  .node {
    width: 1.3em;
    height: 1.3em;
  }
}



@media (max-width: 930px) {
  .node {
    width: 1.2em;
    height: 1.2em;
  }
}


@media (max-width: 875px) {
  .node {
    width: 1.1em;
    height: 1.1em;
  }
}

@media (max-width: 800px) {
  .node {
    width: 1.0em;
    height: 1.0em;
  }
}

@media (max-width: 750px) {
  .node {
    width: 0.9em;
    height: 0.9em;
  }
}
