.node {
    display: inline-block;
    outline: 1px solid black;
    width: 2em;
    height: 2em;
    margin: 0px;
}

.startNode {
  background-color: green;
}
  
.endNode {
  background-color: red;
}

.visited {
  background-color: rgba(34, 167, 240, 1);

  animation-name: visitedAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.5);
    background-color: rgba(41, 241, 195, 1);
  }

  50% {
    background-color: rgba(245, 171, 53, 1);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(34, 167, 240, 1);
  }
}


.wall {
  background-color: gray;

  /* animation-name: wallPlacementAnimation;
  animation-duration: 0.3s; */
}
/* 
@keyframes wallPlacementAnimation {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
} */