.node {
    display: inline-block;
    outline: 1px solid black;
    width: 2em;
    height: 2em;
    margin: 0px;
}

.startNode {
  background-color: green;
}
  
.endNode {
  background-color: red;
}

.visited {
  background-color: lightblue;
}


.wall {
  background-color: gray;

  /* animation-name: wallPlacementAnimation;
  animation-duration: 0.3s; */
}
/* 
@keyframes wallPlacementAnimation {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
} */